{% extends 'main.html' %}
{% load bootstrap %}

{% block title %} Register {% endblock %}

{% block page %}
<div class="card" style="width: 32rem;">
  <div class="card-body">
    <h5 class="card-title">Register account</h5>
    <form method = "POST" action = "">
        {% csrf_token %}

        {{ form.username.label }}
        {{ form.username }}

        {{ form.email.label }}
        {{ form.email }}

        {{ form.password1.label }}
        {{ form.password1 }}

        {{ form.password2.label }}
        {{ form.password2 }}

    <input type="submit" name="Create User">

    Already have an account? <a href="{% url 'login' %} class="card-link">Login</a>

    {{ form.errors }}
                                 
    </form>
  </div>
</div>
{% endblock %}
