{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'new.css' %}">
</head>
<body>
    {% if medications|length == 0 %}
        <h2>You have no medication</h2>
        <a href="{% url 'new_medication' %}">Add medication</a>
    {% else %}
        <h1>Number of medications: {{ medications|length }}</h1>
        <a href="{% url 'new_medication' %}">Add medication</a>
        <br><br>
        {% for medication in medications %}
        <h2>{{ medication.name_of_medication }}</h2>
        <h3>Capacity: {{ medication.capacity }}</h3>
        <a href="{% url 'update_medication' medication.id %}">Update</a>
        <a href="{% url 'delete_medication' medication.id %}">Delete</a>
        <br>
        <br>
        {% endfor %}
    {% endif %}
</body>
</html>