{% extends 'main.html' %}

{% block title %} All mediactions {% endblock %}

{% block page %}
    {% if user.is_authenticated %}
        Hello, {{ user.username }} <br>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>

    {% if medications|length == 0 %}
        <h2>You have no medication</h2>
        <a href="{% url 'new_medication' %}">Add medication</a>
    {% else %}
        <a href="{% url 'new_medication' %}">Add medication</a>
        <br><br>
        {% for medication in medications %}
            <div class="card" style="width: 26rem; background-color: whitesmoke;">
              <div class="card-body">
                  <img src="/media/{{ medication.picture }}" class="medication-picture">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title">{{ medication.name_of_medication }}</h5>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'update_medication' medication.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="{% url 'delete_medication' medication.id %}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                <div class="row">
                    <p class="card-text">Capacity: {{ medication.capacity }}</p>
                </div>
              </div>
            </div>

        <br>
        {% endfor %}
    {% endif %}
{% endblock %}